@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* main landing page styling */
.landing_page {
    width: 100%;
    height: 230vh;
}
.row_class {
    width: 100vw;
    height: 100%;
    column-gap: 2.4rem;
}

/* profile  section styling */
.first_container {
    width: 320px;
    height: 98%;
    padding: 0;
}
.mini_container1 {
    width: 100%;
    height: 350px;
    border-bottom: 1px solid rgb(203, 200, 200);
}
.profile_div {
    width: 200px;
    height: 200px;
}
.img1 {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.circle-section {
    width: 30px;
    height: 30px;
    background-color: rgb(234, 157, 62);
}
.fa-brands {
    width: 100px;
}
.circle-section:hover {
    width: 30px;
    height: 30px;
    background-color: rgb(198, 219, 237);
    border-radius: 50%;
    transform: scale(1.3);
}

.box_container {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
}
.age_class {
  width: auto;
  height: 3rem;
  background-color: red;
}

/* name section */
.name-section {
    height: 230px;
    width: 100%;
    border-bottom: 1px solid rgb(198, 219, 237);
}

.first-naming-section {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.part_A {
    height: 100%;
    background-color: rgb(234, 157, 62);
    color: #fff;
}
.part_B {
    padding: .4rem;
    height: 100%;
}
.score-line1 {
    width: 100%;
    height: 4px;
    background-color: rgb(234, 157, 62);
    border-radius: 3px;
}

.score-line2 {
    width: 80%;
    height: 4px;
    background-color: rgb(234, 157, 62);
    border-radius: 3px;
}
.score-line3 {
    width: 60%;
    height: 4px;
    background-color: rgb(234, 157, 62);
    border-radius: 3px;
}
/* fourth styling */
.score-container {
    height: 87vh;
    border-bottom: 1px solid rgb(198, 219, 237);
}
.score-line-1 {
    width: 100%;
    height: 4px;
    background-color: rgb(234, 157, 62);
    border-radius: 3px;
}
.score-line-2 {
    width: 85%;
    height: 4px;
    background-color: rgb(234, 157, 62);
    border-radius: 3px;
}
.score-line-3 {
    width: 80%;
    height: 4px;
    background-color: rgb(234, 157, 62);
    border-radius: 3px;
}
.score-line-4 {
    width: 75%;
    height: 4px;
    background-color: rgb(234, 157, 62);
    border-radius: 3px;
}
.score-line-5 {
    width: 85%;
    height: 4px;
    background-color: rgb(234, 157, 62);
    border-radius: 3px;
}
/*  5th styling*/
.extra-main-section{
    width: 100%;
    height: 270px;
}
.extra-section {
    width: 100%;
    height: 200px;
    background-color: rgb(122, 105, 99);
}
.extra-container {
    width: 100%;
    height: 40px;
    /* background-color: bisque; */
    background-color: rgb(245, 191, 125);
    border: none;
}
.download-section {
    width: 100%;
    height: 70px;
} 
.download-container {
    width: 80%;
    height: 40px;
    background-color: rgb(245, 191, 125);
}


/* second container */
.second_container {
    width: 66rem;
    height: 80%;
}
.img-container {
    height: 100%;
}
.img-container > img {
    height: 100%;
}
.portfolio-container {
    height: 400px;
    width: 100%;
}
.content-container-a {
    width: 50%;
    height: 500px;
}
.content-container-b {
    width: 100%;
    height: 200px;
    background: rgb(85, 72, 72);
}
.section-each {
    width: 250px;
    height: 130px; 
    background-color: #fff;
}

/* nav bar styling */
.third_container {
    width: 80px;
    height: 98%;
    border-top-right-radius: 6px;
}
.nav_bar {
    height: 40%;
    position: relative;
}
.nav_section {
    width: 40px;
    height: 40px;
    background-color: rgb(198, 219, 237);
}
.fa-brands {
    width: 100px;
}
.nav_section:hover {
    width: 40px;
    height: 40px;
    background-color: rgb(234, 157, 62);
    border-radius: 50%;
}
.marker:hover::after, .marker:hover::before {
    display: block;
}
.marker::before {
    content: ' Marker';
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 70px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: -5px;
    background-color: grey;
    display: none;
}
.marker::after {
    content: ' ';
    border: 15px solid;
    position: absolute;
    top: 12px;
    left: 13px;
    border-top-color:  grey;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    display: none;
}
.marker1:hover::after, .marker1:hover::before {
    display: block;
}
.marker1::before {
    content: ' Marker';
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 70px;
    height: 30px;
    position: absolute;
    top: 63px;
    right: -5px;
    background-color: grey;
    display: none;
}
.marker1::after {
    content: ' ';
    border: 15px solid;
    position: absolute;
    top: 85px;
    left: 13px;
    border-top-color:  grey;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    display: none;
}
.marker2:hover::after, .marker2:hover::before {
    display: block;
}
.marker2::before {
    content: ' Marker';
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 70px;
    height: 30px;
    position: absolute;
    top: 133px;
    right: -5px;
    background-color: grey;
    display: none;
}
.marker2::after {
    content: ' ';
    border: 15px solid;
    position: absolute;
    top: 155px;
    left: 13px;
    border-top-color:  grey;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    display: none;
}
.marker3:hover::after, .marker3:hover::before {
    display: block;
}
.marker3::before {
    content: ' Marker';
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 70px;
    height: 30px;
    position: absolute;
    top: 203px;
    right: -5px;
    background-color: grey;
    display: none;
}
.marker3::after {
    content: ' ';
    border: 15px solid;
    position: absolute;
    top: 225px;
    left: 13px;
    border-top-color:  grey;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    display: none;
}
.marker4:hover::after, .marker4:hover::before {
    display: block;
}
.marker4::before {
    content: ' Marker';
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 70px;
    height: 30px;
    position: absolute;
    top: 263px;
    right: -5px;
    background-color: grey;
    display: none;
}
.marker4::after {
    content: ' ';
    border: 15px solid;
    position: absolute;
    top: 285px;
    left: 13px;
    border-top-color:  grey;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    display: none;
}
.marker5:hover::after, .marker5:hover::before {
    display: block;
}
.marker5::before {
    content: ' Marker';
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 70px;
    height: 30px;
    position: absolute;
    top: 338px;
    right: -5px;
    background-color: grey;
    display: none;
}
.marker5::after {
    content: ' ';
    border: 15px solid;
    position: absolute;
    top: 360px;
    left: 13px;
    border-top-color:  grey;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    display: none;
}